<!DOCTYPE html>
<html lang="pl">
    <%- include('partials/head'); %>
<body>
    <div class="wrapper">
        <div class="title">czas czas czas</div>
    </div>
    <div class="box">
        <div class="box__wrapper">
            <div class="box__mark box__mark--event-name"></div>
            <div class="box__title">Napisz na co czekasz.</div>
        </div>
        
        <div class="box__wrapper-second">
            <label class="label" for="event-name">Nazwij wydarzenie</label>
            <input class="input box__input" type="text" name="event-name" id="event-name-input">
            <button class="button box__button text text--medium">Przejdź dalej</button>
        </div>
    </div>
    <div class="box">
        <div class="box__wrapper">
            <div class="box__mark box__mark--calendar"></div>
            <div class="box__title">Zaznacz dzień.</div>
        </div>
        <div class="box__wrapper-second">

            <div class="calendar"></div>
            <button class="button box__button">Przejdź dalej</button>
        </div>
    </div>
    <div class="box">
        <div class="box__wrapper">
            <div class="box__mark box__mark--event-summary"></div>
            <div class="box__title">Podsumowanie.</div>
        </div>
        
        <div class="summary">
            <div class="summary__title">To już ostani krok, zerknij jeszcze tylko raz na szczegóły.</div>

            <div class="summary__wrapper">
                <div class="summary__text">Nazwa Twojego wydarzenia:</div>
                <div id="event-name" class="summary__text summary__text--highlight"></div>
            </div>
    
            <div class="summary__wrapper">
                <div class="summary__text">Data wydarzenia:</div>
                <div id="event-date-summary" class="summary__text summary__text--highlight"></div>
            </div>
            <button class="button box__button">Zapisz</button>
        </div>            
    </div>
    <script src="js/util/createElement.js"></script>
    <script src="js/calendar.js"></script>
    <script src="js/summary.js"></script>
</body>
</html>