:root{
    --massive-font-size: 72px;
    --big-font-size: 48px;
    --medium-font-size: 36px;
    --small-font-size: 28px;
    --main-font-color: #555B6E;
    --yellow-font-color: #FFC839;
    --blue-font-color: #64A6BD;
}
*{
    font-family: "Montserrat";
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.label{
    font-size: var(--medium-font-size);
    color: var(--main-font-color);
}
.input{
    background-color: #f7f7f7;
    border: 1px solid #efefef;
    color: var(--blue-font-color);
    font-weight: 600;
    font-size: var(--medium-font-size);
    padding: 15px;
    width: 50vw;
}
.input--hour-form{
    width: 80px;
    height: 80px;
    text-align: center;
}
.box__input{
    margin-top: 30px;
}
.button{
    font-size: var(--medium-font-size);
    color: var(--yellow-font-color);
    background-color: #fff0;
    border: 0px;
     cursor: pointer;
}
.wrapper{
    overflow: hidden;
    margin-bottom: 100px;
}
.title{
    width: 3000px;
    opacity: 8%;
    font-size: 288px;
    color: #ADA7C9;
    user-select: none;
    z-index: -5;
    letter-spacing: 5px;
    line-height: 1;
}
.box{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 200px 0;
    align-items: flex-start;
}
.box__button{
    margin: 30px 0 0 auto;
}
.box__wrapper{
    display: flex;
}
.box__wrapper-second, .summary{
    display: flex;
    flex-direction: column;
    margin: 100px 200px;
}
.box__mark{
    width: 50px;
}
.box__mark--event-name{
    background-color: #64A6BD;
}
.box__mark--calendar{
    background-color: #E00000;
}
.box__mark--event-summary{
    background-color: #8692B9;
}
.box__title{    
    font-size: var(--massive-font-size);
    color: var(--main-font-color);
}
.box__summary{
    margin: 50px 0 100px 0;
}
.summary{
    width: 70%;
}
.summary__wrapper{
    margin: 15px 0;
}
.summary__title{
    margin-bottom: 100px;
    font-size: var(--big-font-size);
    color: var(--main-font-color);
}
.summary__text{
    font-size: var(--medium-font-size);
    color: var(--main-font-color);
}
.summary__text--highlight{
    color: var(--blue-font-color);
    white-space: pre-wrap;
}
.calendar__previous, .calendar__next {
    user-select: none;
    cursor: pointer;
    font-size: var(--medium-font-size);
    color: var(--yellow-font-color);
}
.calendar{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.calendar__navigation {
    display: flex;
    align-items: center;
    margin: 50px 0;
}
.calendar__grid{
    display: grid;
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    font-size: var(--small-font-size);
    color: var(--main-font-color);
    gap: 50px 100px;
}
.calendar__month-name {
    font-size: var(--medium-font-size);
    color: var(--main-font-color);
    margin: 0 50px;
    width: 350px;
    text-align: center;
}
.calendar__day {
    cursor: pointer;
    user-select: none;
    display: flex;
    width: 35px;
    height: 35px;
    line-height: 1;
    align-items: center;
}
.calendar__day--current{
    color: #ffc839 !important;
}
.calendar__day--selected{
    color: #64A6BD !important;
}
.calendar__day--past{
    color: #e4e4e4;
    text-decoration: line-through;
    cursor: default !important;
}
.calendar__day--weekend{
    color: #ff3b3b;
    font-weight: 500;
}
.calendar__day--holiday{
    color: #00c4ff;
    font-weight: 500;
}
.startOnMon{
    grid-column: 1;
}
.startOnTue{
    grid-column: 2;
}
.startOnWed{
    grid-column: 3;
}
.startOnThu{
    grid-column: 4;
}
.startOnFri{
    grid-column: 5;
}
.startOnSat{
    grid-column: 6;
}
.startOnSun{
    grid-column: 7;
}
.hour-form {
    display: flex;
    flex-direction: column;
}
.hour-form__inner {
    display: inline-flex;
    align-items: baseline;
    margin-top: 30px;
}
.hour-form__colon {
    color: var(--blue-font-color);
    font-weight: 600;
    font-size: var(--medium-font-size);
    padding: 0 30px;
}
.box__hour-form{
    margin-top: 100px;
}