:root{
    --massive-font-size: 72px;
    --big-font-size: 48px;
    --medium-font-size: 36px;
    --small-font-size: 24px;
    --tiny-font-size: 18px;
    --main-font-color: #555B6E;
    --yellow-font-color: #FFC839;
    --blue: #0095ff;
    --red: #ff7371;
}
*{
    font-family: "Noto Sans";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page-wrapper{
    margin: 0 150px;
}
.overflow{
    overflow: hidden;
}
.title{
    width: 3000px;
    opacity: 5%;
    font-size: max(8rem, 14vw);
    color: #ADA7C9;
    user-select: none;
    z-index: -5;
    letter-spacing: 5px;
    transform: translateY(-40px);
}
.highlighted-sentence{
    font-size: var(--small-font-size);
    font-weight: 700;
}
.section__highlighted-sentence{
    text-align: right;
    margin-top: 50px;
}
.section{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}
.section:first-child{
    margin-top: 0px;
}
.section:last-child{
    margin-bottom: 200px;
}
.section__content{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 50px;
}
.section__title{
    font-size: var(--big-font-size);
    color: #555B6E;
    font-weight: 700;
}
.section__title--highlight-red{
    color: var(--red);
}
.section__title--highlight-blue{
    color: var(--blue);
}
.section__event-name{
    font-size: max(5rem, 8vw);
    color: var(--blue);
}
.section__text{
    font-size: var(--small-font-size);
    color: #424242;
    text-align: justify;
    line-height: 1.5;
}
.section__link {
    color: #ff7371;
    font-weight: 700;
}
.label{
    font-size: 24px;
    color: var(--main-font-color);
}
.input, .time-form__input{
    background-color: #f7f7f7;
    border: 1px solid #efefef;
    color: var(--blue);
    font-weight: 700;
    font-size: var(--medium-font-size);
    padding: 10px;
}
.input::placeholder, .time-form__input::placeholder{
    color: #efefef;
}
.section__input{
    margin-top: 15px;
}
.time-form-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.time-form{
    display: inline-flex;
    align-items: baseline;
}
.label__time-form{
    margin-top: 15px;
}
.time-form__input--hours{
    border-right: none;
}
.time-form__input--minutes{
    border-left: none;
}
.time-form__input{
    width: 80px;
    text-align: center;
}
.time-form__colon{
    color: var(--red);
    font-weight: 700;
    font-size: var(--medium-font-size);
    background-color: #f7f7f7;
    padding: 10px 30px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.button{
    font-size: var(--tiny-font-size);
    background-color: #ffffff;
    color: #8c8c8c;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px;
    border: 2px solid #bdbdbd;
}
.summary__button, .input__button, .section__button{
    margin: 25px 0 0 auto;
}
.summary{
    display: flex;
    flex-direction: column;
}
.summary__inner{
    margin-top: 25px;
}
.summary__inner:first-child{
    margin-top: 0px;
}
.summary__text{
    font-size: var(--small-font-size);
    color: var(--main-font-color);
}
.summary__text--bold{
    font-weight: 700;
}
.summary__text--highlight{
    color: var(--blue);
    white-space: pre-wrap;
}
.calendar{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.calendar__navigation {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.calendar__previous, .calendar__next {
    user-select: none;
    cursor: pointer;
    font-size: var(--medium-font-size);
    color: var(--yellow-font-color);
}
.calendar__grid{
    display: grid;
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    font-size: var(--tiny-font-size);
    color: var(--main-font-color);
    gap: 25px 75px;
}
.calendar__month-name {
    font-size: var(--small-font-size);
    color: var(--main-font-color);
    margin: 0 50px;
    width: 205px;
    text-align: center;
    font-weight: 700;
}
.calendar__day {
    user-select: none;
    display: flex;
    height: 35px;
    line-height: 1;
    align-items: center;
}
.calendar__day--dayOfTheWeek{
    font-weight: 700;
}
.calendar__day--clickable{
    cursor: pointer;
}
.calendar__day--current{
    color: var(--blue) !important;
    font-weight: 700;
}
.calendar__day--selected{
    color: var(--red) !important;
    font-weight: 700;
}
.calendar__day--past{
    color: #e4e4e4;
    text-decoration: line-through;
    cursor: default !important;
}
.calendar__day--weekend{
    color: #ff8888;
}
.calendar__day--holiday{
    color: #00c4ff;
}
.startOnMon{
    grid-column: 1;
}
.startOnTue{
    grid-column: 2;
}
.startOnWed{
    grid-column: 3;
}
.startOnThu{
    grid-column: 4;
}
.startOnFri{
    grid-column: 5;
}
.startOnSat{
    grid-column: 6;
}
.startOnSun{
    grid-column: 7;
}
.hour-form {
    display: flex;
    flex-direction: column;
}
.hour-form__inner {
    display: inline-flex;
    align-items: baseline;
    margin-top: 30px;
}
.hour-form__colon {
    color: var(--blue-font-color);
    font-weight: 700;
    font-size: var(--medium-font-size);
    padding: 0 30px;
}
.countdown{
    display: grid;
    grid-template-columns: repeat(7, min-content);
    gap: 100px;
}
.countdown__inner{
    text-align: center;
}
.countdown__number{
    font-family: 'Noto Sans';
    font-size: 64px;
    color: #424242;
}
.countdown__time-unit{
    font-size: var(--small-font-size);
    color: #737373;
}
.share-link{
    display: flex;
    width: fit-content;
    font-size: var(--tiny-font-size);
}
.share-link__url{
    color: #c5c5c5;
    background-color: #f7f7f7;
    padding: 10px 20px;
}
.share-link__button{
    cursor: pointer;
    user-select: none;
    background-color: #278fcc;
    color: #fff;
    padding: 10px 20px;
}
.share-link__success{
    color: #278fcc;
    padding: 10px 20px;
    opacity: 0;
    transition: all .2s ease-in;
    order: 2;
}
.share-link__success--visible{
    opacity: 1;
    transition: all .2s ease-in;
}

@media (max-width: 1440px){
    .section__content{
        width: 70%;
    }
}

@media (max-width: 1366px){
    .section__content{
        width: 80%;
    }
}

@media (max-width: 1280px){
    .page-wrapper{
        margin: 0px 75px;
    }
    .countdown{
        gap: 0px 75px;
    }
}

@media (max-width: 1024px){
    .page-wrapper{
        margin: 0px 50px;
    }
    .title{
        transform: translateY(-20px);
    }
    .section{
        margin-top: 150px;
    }
    .section__content{
        width: 100%;
    }
    .calendar{
        width: auto;
    }
    .calendar__grid{
        grid-template-columns: repeat(7, minmax(25px, 1fr));
        gap: 25px;
    }
    .countdown{
        grid-template-columns: repeat(3, min-content);
        gap: 75px 0px;
        justify-content: space-between;
    }
}

@media (max-width: 800px){
    .page-wrapper{
        margin: 0px 25px;
    }
    .countdown__number{
        font-size: var(--big-font-size);
    }
    .share-link{
        flex-direction: column;
        align-items: flex-start;
    }
    .share-link__button{
        order: 1;
    }
    .share-link__success{
        order: 2;
        padding: 10px 0px;
    }
    .section__title{
        font-style: var(--medium-font-size);
    }
    .calendar__grid{
        grid-template-columns: repeat(7, 25px);
        gap: 25px;
        justify-content: space-between;
        font-size: 16px;
    }
    .calendar__navigation{
        margin: 0px 0px 25px 0px;
        justify-content: space-between;
    }
    .calendar__month-name{
        font-size: var(--small-font-size);
        margin: 0px;
    }
    .label{
        font-size: var(--tiny-font-size);
    }
    .input, .time-form__input{
        font-size: var(--small-font-size);
    }
    .time-form__colon{
        font-size: var(--small-font-size);
    }
    .button{
        font-size: 16px;
        padding: 10px;
    }
}